#mynav {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 18px;
    background-color: #dcb233 !important;
    margin-bottom: 1em;
}

.navbar-nav {
    margin-left: auto;
}

#mybrand {
    color: black;
    font-size: 22px;
    font-weight: bolder;
}

.navbar .navbar-nav .nav-link {
    color: black;
}

.navbar .navbar-nav .nav-link:hover {
    font-weight: bolder;
    color: black;
}

#nav-active {
    font-weight: bolder;
    color: black;
}

#body-content {
    padding-top: 2em;
}

#mytable {
    outline: black 2px solid;
    margin-bottom: 2em;
    margin-top: .5em;
}

caption {
    text-align: center;
    color: black;
    background-color: #dcb233;
    font-weight: bolder;
    outline: black 2px solid;
    font-size: 25px;
}

#intro {
    text-align: left;
    margin-left: -1.5em;
    color: #dcb233;
    font-size: 40px;
    margin-right: 3.5em;
}

body {
    background-color: black;
}

#mybutton {
    background-color: #dcb233;
    font-weight: bold;
    border: black 1px solid;
}

#mybutton a {
    color: black;
    text-decoration: none;
}

#mybutton a:hover {
    font-size: larger;
    font-weight: bolder;
}

.card {
    display: inline-block;
    margin: 1em 1.5em 1.5em;
}

#break-img {
    display: block;
    margin: 3em auto 2em;
    width: 40%;
    height: 110px;
}

#book-title {
    color: #dcb233;
    margin-left: 1em;
}

#book-list {
    margin: auto;
    width: 90%;
}